* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  nav {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 5;

    ul {
      display: flex;
      li {
        list-style-type: none;
        margin: 1rem;
        a {
          color: black;
          text-decoration: none;
          transition: all 0.1s ease;
          &:hover {
            color: rgb(54, 212, 138);
          }
        }
      }
    }
  }

  main {
    section.main-area {
      min-height: 70vh;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      div.info {
        // border: 2px solid black;
        flex-basis: 450px;

        h1 {
          font-size: 3.5rem;
        }
        h2 {
          font-size: 1rem;
          padding-left: 1rem;
        }

        a {
          color: white;
          background-color: rgb(54, 212, 138);
          padding: 0.35rem 1rem;
          font-size: 1.5rem;
          border-radius: 20px;
          display: inline-block;
          margin-top: 2rem;
          text-decoration: none;
          transition: all 0.2s ease;
          &:hover {
            transform: scale(1.2);
          }
        }
      }

      img {
        flex-basis: 300px;
        // border: 2px solid red;
        width: 30vw;
      }
    }

    section.about-me {
      background-color: rgb(231, 255, 233);
      padding: 5rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      div.desc {
        // border: 2px solid black;
        width: 50%;
        text-align: center;
        h2 {
          font-size: 2rem;
        }
        p {
          text-align: left;
          text-indent: 1rem;
        }
      }

      div.progress-area {
        // border: 2px solid red;
        p {
          margin: 0.5rem 0rem;
        }
        .progress-bar-area {
          margin-top: 2rem;
        }
      }
    }

    section.resume {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;

      section.table {
        flex: 5 1 500px;
        padding: 2rem;
        table {
          border-collapse: collapse;
          tr {
            border-bottom: 2px solid gray;
            transition: all 0.2s ease;
            &:hover {
              background-color: rgb(184, 255, 222);
            }
            td {
              padding: 1rem;
            }
          }
        }
      }

      section.picture {
        flex: 1 1 500px;
        position: relative;

        img {
          width: 30vw;
        }

        div.greenRect {
          width: 30vw;
          height: 90vh;
          border: 10px solid rgb(195, 255, 200);
          position: absolute;
          top: 30px;
          left: 80px;
          z-index: -1;
        }

        div.greenRect2 {
          width: 50vw;
          height: 40vh;
          border: 10px solid rgb(195, 255, 200);
          position: absolute;
          top: 300px;
          left: -300px;
          z-index: -1;
        }

        div.greenRect3 {
          width: 50vw;
          height: 40vh;
          border: 10px solid rgb(195, 255, 200);
          position: absolute;
          top: 0px;
          left: -100px;
          z-index: -1;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  body {
    main {
      section.main-area {
        div.info {
          padding: 1rem;
        }
        img {
          width: 90%;
        }
      }
      section.about-me {
        padding: 1rem 0.5rem;
        div.desc {
          width: 80%;
        }
        div.progress-area {
          width: 80%;
        }
      }

      section.resume {
        overflow-x: auto;
        section.table {
          min-width: 800px;
        }
        section.picture {
          img {
            width: 90%;
          }
          div.greenRect,
          div.greenRect2,
          div.greenRect3 {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  body {
    nav {
      position: static;
      ul {
        flex-direction: column;
      }
    }
  }
}
